---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, TWITTER, GITHUB, LINKEDIN } from "../config";
import { guestbookLoader } from "../loaders/guestbook";
import Message from "../components/Message.astro";
import GuestbookForm from "../components/GuestbookForm.astro";
const messages = await guestbookLoader();
import { isLoggedIn } from "../utils/auth";
const user = await isLoggedIn(Astro.request);
import type { GuestbookPost } from "../types/index";
---

<html lang="en">
  <head>
    <BaseHead title={`${SITE_TITLE} guestbook`} description="Stop by and say 'hi'." />
    <script src="https://accounts.google.com/gsi/client" async defer id="googleSignInScript"></script>
  </head>
  <body>
    <Header />

    <h1 data-animate style="--stagger:1" class="pb-6">Guestbook</h1>
    <p class="text-gray-400 mb-4" data-animate style="--stagger:2">
      Leave a comment below. It could be anything - appreciation, information, wisdom, or even humor. Surprise me!
    </p>

    <div
      id="submission-form"
      class="border rounded p-6 my-4 w-full border-gray-800 bg-blue-opaque"
      data-animate
      style="--stagger:2"
    >
      <h5 class="text-lg md:text-xl font-bold text-gray-100">Sign the Guestbook</h5>
      <p class="my-1 text-gray-200">Share a message for a future visitor of my site.</p>

      {
        user.authed ? (
          <>
            <p>Signed in as {user.userName}</p>
            <a
              class="logout auth-link flex items-center justify-center my-4 font-bold h-8  bg-gray-700 text-gray-100 rounded w-28"
              href="/api/logout"
            >
              Logout
            </a>
            <GuestbookForm />
            <p class="text-sm text-gray-200">Your information is only used to display your name.</p>
          </>
        ) : (
          <button id="buttonDiv" class="mt-2" />
        )
      }
    </div>

    <section id="messages-list" data-animate style="--stagger:3">
      <div class="mt-4 space-y-8 pt-4">
        {
          messages.map((message: GuestbookPost) => (
            <Message
              postId={message.postId}
              content={message.content}
              userId={message.userId}
              userName={message.userName}
              createdAt={message.createdAt}
              currentUserId={user.userId}
            />
          ))
        }
      </div>
    </section>

    <Footer twitter={TWITTER} github={GITHUB} linkedin={LINKEDIN} animate={4} />
    <script>
      import splitbee from "@splitbee/web";
      import type { googleSignInResponse } from "../types/index";
      splitbee.init();

      const handleCredentialResponse = async (response: googleSignInResponse) => {
        console.log("in handle credential response");
        const req = await fetch("/api/login", {
          method: "POST",
          body: JSON.stringify({
            token: response.credential,
          }),
        });

        if (req.ok) {
          window.location.reload();
        }
      };

      function googleSignIn() {
        // @ts-ignore
        google.accounts.id.initialize({
          client_id: import.meta.env.PUBLIC_SIGN_IN_WITH_GOOGLE_CLIENT_ID,
          callback: handleCredentialResponse,
        });
        // @ts-ignore
        google.accounts.id.renderButton(document.getElementById("buttonDiv"), {
          theme: "outline",
          size: "large",
          type: "standard",
          width: "220",
        });
      }
      googleSignIn();
      // Add window onload event listener
      window.onload = function () {
        googleSignIn();
      };

      document.getElementById('googleSignInScript').addEventListener('load', googleSignIn);

      document.addEventListener("astro:page-load", googleSignIn);
    </script>
  </body><style>
    #buttonDiv {
      color-scheme: light;
    }
  </style>
</html>
